*{
    padding:0;
    margin:0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#ff7b00ea,#ffe0c3ea);
    padding:10px;
}
.todo-app{
    width:100%;
    max-width:540px;
    background: #fff;
    margin:100px auto 20px;
    padding:40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color:#002765;
    display:flex;
    align-items:center;
    margin-bottom:20px;
}
.todo-app h2 img{
    width:90px;
    margin-left:10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border:none;
    outline:none;
    background: transparent;
    padding:10px;
    font-weight: 14px;
}
button{
    outline:none;
    border:none;
    padding:16px 50px;
    background:#5845ff;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}
ul li{
    list-style: none;
    font-size: 17px;
    padding:12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content:'';
    position: absolute;
    height: 28px;
    width:28px;
    border-radius: 50%;
    background-image: url(img/1.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left:8px;
}
ul li.checked{
    color:#555;
    text-decoration:underline
}

ul li.checked::before{
    background-image: url(img/3.png);
}
ul li span{
    position:absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-weight: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
}
ul li span:hover{
    background: #edeef0;
}
#mode-toggle{
    margin:10px 650px 20px;
}
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .todo-app {
    background-color: #444;
    border: 1px solid #555;
}

.dark-mode h2 {
    color: #fff;
}

.dark-mode ul li.checked{
    color:#fbf1f1;
    text-decoration:underline
}
.dark-mode .container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    padding:10px;
}
.dark-mode ul li::before{
    content:'';
    position: absolute;
    height: 28px;
    width:28px;
    border-radius: 35%;
    background-image: url(img/1.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left:8px;
}
.dark-mode ul li.checked::before{
    background-image: url(img/3.png);
}
.dark-mode #list-container {
    background-color: #444;
    border: 1px solid #555;
}
@media (min-width: 768px) {
    .row{
        flex-direction: row;
    }
    input, button{
        width: auto;
        margin-bottom: 0; 
    }
}
@media (max-width: 768px) {
    #mode-toggle {
        margin: 10px auto; 
        display: block; 
    }
    #input-box{
        margin: 10px auto;
        display: block;
        width: 100%;
    }
}
